
//PHI based scaling ratio
$h13: 321.916em;
$h12: 198.959em;
$h11: 122.966em;
$h10: 75.999em;
$h9: 46.971em;
$h8: 29.03em;
$h7: 17.942em;
$h6: 11.089em;
$h5: 6.854em;
$h4: 4.236em;
$h3: 2.618em;
$h2: 1.618em;
$h1: 1em;
$h0: 0.618em;
$h-1: 0.382em;
$h-2: 0.236em;
$h-3: 0.146em;
$h-4: 0.09em;

// Padding top
@mixin padding-top($level: 0) {
    padding-top: size($level);
}
// Padding bottom
@mixin padding-bottom($level: 0) {
    padding-bottom: size($level);
}
// Margin top
@mixin margin-top($level:0) {
    margin-top: size($level);
}
// Margin bottom
@mixin margin-bottom($level: 0) {
    margin-bottom: size($level);
}